.sn {
	// Everything border box
	&, & * {
		&, &::before, &::after {
			box-sizing: border-box;
		}
	}

	$color-primary: #E3812F;
	$color-primary-dark: #AC5003;
	$color-gray-light: #eee;
	$transition-short: 0.2s;
	$gutter: 20px;

	// Global
	background: $color-gray-light;
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: Roboto, sans-serif;
	font-size: 16px;
	height: 100%;
	overflow: hidden;
	width: 100%;

	// Typography
	h1, h2, h3 {
		font-weight: 300;
	}

	p, ul, ol {
		line-height: 1.4;
	}

	// Components
	@import 'sneaquence/button';
	@import 'sneaquence/control';
	@import 'sneaquence/debug';
	@import 'sneaquence/form';
	@import 'sneaquence/modal';
	@import 'sneaquence/preview';
	@import 'sneaquence/sequencer';
	@import 'sneaquence/timeline';
}
