.sn__button {
	background-color: $color-primary;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	font: inherit;
	font-size: 1.125em;
	margin-top: 0.5em;
	min-width: 6em;
	padding: 12px 16px;

	transition: background-color $transition-short;

	&:hover {
		background-color: $color-primary-dark;
	}

	&[disabled] {
		background-color: #aaa;
		color: #ddd;
		cursor: not-allowed;
	}
}
